@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Roboto:wght@300;400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-6 {
  width: 50%;
  padding: 0 15px;
}

.col-4 {
  width: 33.3333%;
  padding: 0 15px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

//===================*HEADER*================//
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__right-side {
  display: flex;
  align-items: center;

  .logo {
    margin-right: 35px;
  }
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
  margin-right: 40px;
}

.menu li a {
  font-size: 16px;
  line-height: 19px;
  color: #150C01;
  opacity: 0.6;
  font-weight: 500;
}

.menu li a:hover {
  font-weight: 500;
  color: #DC780B;
}

.header {
  z-index: 3;

  &__container {
    margin-top: 31px;
  }

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;

  &__btn {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #DC780B;
    border-radius: 5px;
    padding: 13px 30px;
    border: none;
    cursor: pointer;
  }
}

//*============== HERO ============*//

.hero {
  position: relative;

  &__img {
    z-index: -1;
  }

  &__box {
    padding: 162px 0 116px;
    width: 555px;
  }

  &__title {
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    font-size: 48.83px;
    line-height: 58px;
    color: #150C01;
  }

  &__desc {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #150C01;
    opacity: 0.7;
    margin: 42px 0 50px;
  }

  &__btn {
    display: flex;
    align-items: center;

    .left__btn {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      background: #DC780B;
      border-radius: 5px;
      padding: 21px 40px;
      cursor: pointer;
    }

    .right__btn {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #DC780B;
      margin-left: 30px;
      border: 1.5px solid #DC780B;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 21px 40px;
      cursor: pointer;
    }
  }
}

.features {
  text-align: center;

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #DC780B;
    opacity: 0.7;
  }

  &__title {
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    font-size: 31.25px;
    line-height: 35px;
    text-transform: capitalize;
    color: #150C01;
    margin: 7px 0 44px;

  }
.text-center{
  text-align: center;
}
  .features__box {

    .icon{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 88px;
      height: 88px;
      border-radius:50% ;
      background: #fbf1e7;
      position: relative;
      margin: 0 auto;
    }
    .box__img{
      position: absolute;
    }


  }

  &__publication {
    font-family: ' Philosopher', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    color: #150C01;
    margin: 33px 0 15px;
  }

  &__info {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #150C01;
    opacity: 0.7;


  }

}